
extends layout

block head-bar
	h1 EZ Voting App
	if user.name
		h4 Welcome #{user.name}
	else
		h4 To create a poll, 
			a(href="/signin") Sign In With Twitter
		h4 Or Browse and vote on existing polls

block page
	h4 Select a poll to vote and see the results
	include poll.pug
