
extends template

block append scripts
	script(src="js/twitter-sign-in-btn.js")


block buttons
	button(type="button").btn.btn-primary.navbar-btn#sign-in-with-twitter Sign in with Twitter

block head-bar
	h1 EZ Voting App
	p Create your own polls, vote, browse results

block page
	p Existing polls will go here
