
extends layout

block head-bar
	if user.name
		h4 Welcome #{user.name}
		h4
			a(href="/my-polls").logged-in-link My Polls
			a(href="/new-poll").logged-in-link New Poll
	else
		h4 To create a poll, 
			a(href="/signin") Sign In With Twitter
			|.
		h4 Or Browse through existing polls and vote!

block page
	include all-polls.pug
	