
extends layout

block head-bar
	h1 My Polls

block page
	div.container
		div.row
			each poll in polls
				- let url = "/poll?id=" + poll.id
				if poll.owner == user.id
					div.col-xs-12.col-sm-6.col-md-4.col-lg-3
						div.chart-outer-container
							a(href=url)
								div.chart-inner-container
									h4 #{poll.title}
									canvas(id=poll.id)