
extends layout

block head-bar
	h1 New Poll

block page
	form(action="/poll-submit", method="post").new-poll-form
		h4 Title:
		input(type="text", name="title", placeholder="Poll Title")
		h4 Options (Seperated with commas):
		input(type="text", name="options", placeholder="Toyota, Ford, Audi")
		button(type="submit") Submit

