
extends layout

block head-bar
	h1 New Poll

block page
	form(action="/poll-submit", method="post").form-group
		label Title:
		input(type="text", name="title", placeholder="Poll Title").form-control
		label Options:
		textarea(rows="3", name="options", placeholder="Toyota, Ford, Audi").form-control
		small Seperated with commas
		br
		button(type="submit") Submit

