
extends template

block append scripts
	script(src="js/signed-in.js")

block buttons
	button(type="button").btn.btn-default.navbar-btn#sign-out Sign out
	button(type="button").btn.btn-success.navbar-btn#new-poll Create New Poll
	button(type="button").btn.btn-success.navbar-btn#my-polls My Polls

block head-bar
	h1#success-message Signing In...

block page
	include poll
