
extends layout

block head-bar
	h4 You've been logged out
	h4 You can still browse through existing polls and vote.

block page
	div.container
		div.row
			each poll in polls
				div.col-xs-12.col-sm-6.col-md-4.col-lg-3
					div.chart-container
						h4 #{poll.title}
						canvas(id=poll.id)
