
body {
	font-family: 'Roboto', sans-serif;
}

.navbar {
	border-radius: 0;
	border: 0px;
	margin: 0;
	line-height: 50px;
}

.pull-right {
	margin-right: 5px !important;
}

.container {
	margin: 0;
	text-align: center;
	width: 100vw;
}

.head-bar {
	background: #d7dde2;
	padding: 30px;
}

.logged-in-link {
	padding: 0 10px;
}

.chart-container {
	width: 200px;
	height: 250px;
	margin: 15px auto;
	background-color: #eee;
	box-shadow: 0 0 5px #999;
}

.chart-container:hover {
	box-shadow: 0 0 5px #444;
	cursor: pointer;
}

.big-chart-container {
	max-width: 400px;
	max-height: 500px;
	margin: 15px auto;
}

form {
	text-align: left;
	background-color: #eee;
	max-width: 700px;
	margin: 15px auto;
	padding: 10px;
	box-shadow: 0 0 5px #999;
}

label {
	font-size: 16px;
}

form button {
	margin-top: 8px;
}

