
body {
	font-family: 'Roboto', sans-serif;
}

.navbar {
	border-radius: 0;
	border: 0px;
	height: 70px;
	line-height: 70px;
	margin: 0;
}

.navbar-brand {
	margin: 10px auto;
}

.nav-link {
	margin: 8px;
}

.container {
	margin: 0;
	text-align: center;
	width: 100vw;
}

.head-bar {
	min-height: 70px;
	background: #2a5070;
	color: #fff;
}

.page {
	
}

.poll {
	width: 200px;
	height: 250px;
	border: solid #555 1px;
	margin: 10px;
}