
body {
	font-family: 'Roboto', sans-serif;
}

.navbar {
	border-radius: 0;
	border: 0px;
	margin: 0;
	line-height: 50px;
}

.pull-right {
	margin-right: 5px !important;
}

.container {
	margin: 0;
	text-align: center;
	width: 100vw;
}

.head-bar {
	background: #e6ffe5;
	padding: 30px;
}

.logged-in-link {
	padding: 0 10px;
}

.form-group {
	margin: 10px auto;
}

.form-group label {
	margin: 4px;
}

.chart-outer-container {
	width: 250px;
	height: 310px	;
	margin: 15px auto;
	background-color: #eee;
	box-shadow: 0 0 5px #999;
}

.chart-inner-container {
	width: 250px;
	height: 310px;
	padding-top: 2px;
}

.chart-container:hover {
	box-shadow: 0 0 5px #444;
	cursor: pointer;
}

.big-chart-container {
	max-width: 400px;
	max-height: 500px;
	margin: 15px auto;
}

.error-message {
	border: 1px solid #ff6363;
	border-radius: 3px;
	background: #ffdbdb;
	color: #ff6363;
	margin: 10px 15px;
}

.delete-btn-form {
	background: #fff;
	border: none;
	text-align: center;
	box-shadow: none;
}

form {
	text-align: left;
	background-color: #eee;
	max-width: 700px;
	margin: 15px 15px;
	padding: 10px;
	box-shadow: 0 0 5px #999;
}

label {
	font-size: 16px;
}

form button {
	margin-top: 8px;
}

